</main>
<footer>
    <div class="footer-links">
        <a class="footer" href="/"> Home </a>
        <a class="footer" href="/about"> About </a>
        <a class="footer" href="/posts"> Posts </a>
        <a class="footer" href="/contact"> Contact </a>
    </div>
    <div class="footer-links bottom">
        <a class="footer-icons" href="https://instagram.com/udbhavdalal?igshid=YTQwZjQ0NmI0OA=="><i
                class="fa-brands fa-instagram fa-xl" style="color: #cfbfdc;"></i></a>
        <a class="footer-icons" href="https://twitter.com/UdbhavDalal"><i class="fa-brands fa-twitter fa-xl"
                style="color: #cfbfdc;"></i></a>
        <a class="footer-icons" href="https://www.linkedin.com/in/udbhav-dalal-a64410207/"><i
                class="fa-brands fa-linkedin fa-xl" style="color: #cfbfdc;"></i></a>
    </div>
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<!--bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</script>

<!-- myJS -->
<script src="styles/index.js"></script>

</body>

</html>