<%- include('partials/header.ejs') %>

<div class="index-main px-4 py-5 my-5 text-center">
    <h1 class="submit-main display-5 fw-bold text-body-emphasis">Your post has been updated!</h1>
    <div class="submit-main col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/create"><button type="button" class="newPost"> + Create another post</button></a>
            <a href="/posts"><button type="button" class="viewPost">View Posts</button></a>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>